@import "../../styles/common.scss";

nav {
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: #212121;

  .head {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0.8rem 0.6rem 0.6rem;
    background-color: rgba(#000, 0.5);

    img {
      max-width: 100%;
      max-height: 3rem;
      transition: max-height 0.3s ease;
    }

    .title {
      font-size: 1.2rem;
      font-weight: 800;
      padding-top: 0.2rem;
      text-align: center;
      color: #fff;
      transition: font-size 0.3s ease;
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease,
      font-weight 0.3s ease, font-size 0.3s ease;

    @include desktop {
      &:not(.disabled):hover {
        color: #33b5e5;
      }
    }

    &.active {
      font-weight: 800;
      color: #000 !important;
      background-color: #33b5e5 !important;
    }

    &.disabled {
      cursor: none;
      opacity: 0.5;
    }

    img,
    i,
    svg {
      font-size: 1.2rem;
      height: 1.2rem;
      margin-right: 0.5rem;
    }

    span {
      line-height: 1.2;
    }
  }

  .user {
    border-bottom: 2px solid rgba(#000, 0.5);
    color: #fff !important;

    .user-code {
      font-size: 0.85rem;
    }
  }

  .language {
    display: flex;
    justify-content: space-evenly;
    padding: 0.6rem 1rem;
    border-bottom: 2px solid rgba(#000, 0.5);
    color: #fff !important;

    .active {
      font-weight: 800;
      color: #33b5e5;
    }
  }

  .menu {
    height: 100%;
    overflow-y: scroll;

    .sub-menu {
      .menu-item {
        padding-left: 3rem;
        background-color: rgba(#000, 0.5);
      }
    }
  }

  .logout {
    border-top: 2px solid rgba(#000, 0.5);
  }

  &.minimized {
    $padding: 0.4rem;
    $font-size: 0.6rem;

    .head {
      padding: 0.6rem $padding $padding;

      img {
        max-height: 2rem;
      }

      .title {
        font-size: $font-size;
      }
    }

    .language {
      flex-flow: column;

      p-inputswitch {
        padding: 0.3rem 0;
      }
    }

    .menu-item {
      flex-flow: column;
      font-size: $font-size;
      padding: $padding;
      text-align: center;

      img,
      i,
      svg {
        margin-right: 0rem;
        margin-bottom: 0.2rem;
      }

      .notify-badge {
        display: none;
      }
    }

    .menu {
      .sub-menu {
        .menu-item {
          padding-left: $padding;
        }
      }
    }
  }
}
